:root,
:root.light {
	--color-bg: #ffffff;
	--color-fg-secondary: #444444;
	--color-fg: var(--color-fg)000;
	--card-bg-color: #f5f5f5;
	--primary: #1da1f2;
	--box-shadow: rgba(0, 0, 0, 0.3);
	--trans-dur: 0.6s;
	--navbar-bg: #f7f7f7;
	--section-bg: #f1f1f1;
	--tooltip-bg: #f0f0f0;
}

:root.dark {
	--color-bg: #121212;
	--color-bg-secondary: #444444;
	--color-fg-secondary: #efefef;
	--color-fg: #ffffff;
	--card-bg-color: #181818;
	--navbar-bg: #010101;
	--section-bg: #121212;
	--tooltip-bg: #151515;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Dosis", sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: overlay;
	overflow-x: hidden;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #353b48;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(6px);
	display: flex;
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.loader {
	text-align: center;
	vertical-align: middle;
	position: relative;
	z-index: 3 !important;
	display: flex;
	background: transparent;
	padding: 150px;
}

.loader span {
	display: block;
	width: 20px;
	height: 20px;
	background: #eee;
	border-radius: 50%;
	margin: 0 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
	background: #f07e6e;
}

.loader span:nth-child(3) {
	background: #84cdfa;
}

.loader span:nth-child(4) {
	background: #5ad1cd;
}

.loader span:not(:last-child) {
	animation: animate 1.5s linear infinite;
}

@keyframes animate {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(30px);
	}
}

.loader span:last-child {
	animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(10px, -10px);
	}
	20% {
		transform: translate(20px, 10px);
	}
	30% {
		transform: translate(30px, -50px);
	}
	70% {
		transform: translate(-150px, -50px);
	}
	80% {
		transform: translate(-140px, 10px);
	}
	90% {
		transform: translate(-130px, -10px);
	}
	100% {
		transform: translate(-120px, 0);
	}
}

::selection {
	background-color: var(--primary)60;
}

.navbar {
	position: fixed;
	background-color: transparent;
	width: 100%;
	padding: 30px 0;
	top: 0;
	font-family: "Balsamiq Sans", cursive;
	z-index: 2;
	transition: 0.3s linear;
}

.inner-width {
	max-width: 1300px;
	margin: auto;
	padding: 0 40px;
}

.navbar .inner-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	background-color: transparent;
	background-size: contain;
	color: var(--primary);
	font-family: "Port Lligat Sans", sans-serif, cursive;
	font-size: 1.1rem;
	font-weight: 100;
	letter-spacing: 2px;
}

.menu-toggler {
	background: none;
	width: 30px;
	border: none;
	color: var(--card-bg-color);
	cursor: pointer;
	position: relative;
	outline: none;
	z-index: 2;
	display: none;
}

.menu-toggler span {
	display: block;
	height: 3px;
	background-color: var(--primary);
	margin: 6px 0;
	position: relative;
	border-radius: 10px;
	transition: 0.3s linear;
}

.menu-toggler span:first-child, .menu-toggler span:last-child {
	width: 20px;
}

.navbar-menu a, .navbar-menu p {
	color: var(--color-fg);
	font-size: 16px;
	font-weight: 500;
	font-family: "Balsamiq Sans", cursive;
	margin-left: 30px;
	display: inline-block;
	position: relative;
	transition: 0.2s linear;
}

.navbar-menu a:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.navbar-menu a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navbar-menu a:hover {
	color: #0087ca !important;
}

.navbar-menu a.last-link:hover {
	text-decoration: none;
}

.sticky {
	background-color: var(--navbar-bg);
	height: 65px;
	padding: 20px 0;
}

/* .sticky .logo {
	color: var(--primary);
}

.sticky .navbar-menu a {
	color: var(--card-bg-color);
} */


#home {
	height: 100vh;
	min-height: 500px;
	background-color: var(--color-bg);
	background-image: url("../media/wave-haikei.svg");
	background-size: cover;
}

#home .inner-width {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
}

#home .content {
	width: 100%;
	color: #171519;
	margin-top: -100px;
}

#home .content h6 {
	font-size: 40px;
	font-family: "Port Lligat Sans", sans-serif;
	margin-bottom: 60px;
	color: #52b788;
}

#home .content h6::after {
	content: "Hi! I'm Bhargava";
	animation: textanim 10s linear infinite;
}

@keyframes textanim {
	50% {
		content: "I'm a Student";
	}
	50% {
		content: "Think Practice Grow";
	}
}

.sm a {
	color: #121212;
	font-size: 22px;
	margin: 0 10px;
	cursor: pointer;
	transition: 0.2s linear;
}

.sm a:nth-child(1) {
	color: #3b5998;
}

.sm a:nth-child(2) {
	color: var(--primary);
}

.sm a:nth-child(3) {
	color: transparent;
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

.sm a:nth-child(4) {
	color: #01bfa5;
}

.sm a:nth-child(5) {
	color: #4078c0;
}

.sm a:nth-child(1):hover {
	transform: scale(1.6);
}

.sm a:nth-child(2):hover {
	transform: scale(0.7);
}

.sm a:nth-child(3):hover {
	transform: scale(1.6);
}

.sm a:nth-child(4):hover {
	transform: scale(1.6);
}

.sm a:nth-child(5):hover {
	transform: scale(1.6);
}

.smp {
	display: inline-flex;
}

.smp .fab {
	color: var(--color-fg);
	font-size: 23px;
	transition: 0.5s;
}

.smp .fab:hover {
	color: #e6e6e6;
	font-size: 26px;
}

.smp a {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 14px;
	margin-right: 8px;
	display: flex;
}

.smp a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--card-bg-color);
	color: var(--color-fg);
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0px);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	transition: background-color var(--trans-dur), color var(--trans-dur);
}

.smp a:hover {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.smp a:nth-child(1):hover {
	background-color: #3b5998;
}

.smp a:nth-child(2):hover {
	background-color: var(--primary);
}

.smp a:nth-child(3):hover {
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.smp a:nth-child(4):hover {
	background-color: #01bfa5;
}

.smp a:nth-child(5):hover {
	background-color: #4078c0;
}

.arrow {
	text-align: center;
	margin: 8% 0;
	display: inline-block;
	position: absolute;
	bottom: 0px;
}

.fa-arrow-down {
	color: #ffe000;
	text-align: center;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

@keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}
	60% {
		-ms-transform: translateX(15px);
		transform: translateX(15px);
	}
}

@keyframes bounceBottom {
    0%,
    20%,
    50%,
    80%,
    100% {
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    60% {
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
}

.fa-arrow-right {
	-webkit-animation: bounceRight 2s infinite;
	animation: bounceRight 2s infinite;
	-moz-animation: bounce 2s infinite;
}

.fa-arrow-down {
	-webkit-animation: bounceBottom 2s infinite;
	animation: bounceBottom 2s infinite;
	-moz-animation: bounce 2s infinite;
	color: #ffffff;
}

.bounce-right {
	color: #01bfa5;
	text-align: center;
}

.bounce-right a {
	cursor: pointer;
	color: #01bfa5;
}

.bounce-right a:hover {
	color: #ff6666;
}

section {
	padding: 75px 0 20px 0;
	background-color: var(--section-bg);
	color: var(--color-fg);
	transition:
	background-color var(--trans-dur),
	color var(--trans-dur);
}

.section-title {
	text-align: center;
	margin-bottom: 80px;
	position: relative;
	font-size: 26px;
	padding-bottom: 20px;
	color: var(--color-fg);
}

.section-sub-title {
	text-align: center;
	margin-bottom: 80px;
	position: relative;
	margin-top: 80px;
	font-size: 20px;
	padding-bottom: 20px;
	color: var(--color-fg);
}

.section-title::before,
.section-sub-title::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 3px;
	background-color: var(--color-fg-secondary);
	bottom: 0;
	left: calc(50% - 40px);
}

.section-title::after,
.section-sub-title::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 10px;
	background-color: var(--primary);
	border: 4px solid var(--section-bg);
	left: calc(50% - 12px);
	bottom: -7px;
	transition: background-color var(--trans-dur), color var(--trans-dur), border var(--trans-dur);
}

.about-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.about-pic {
	width: 200px;
	border-radius: 54% 46% 54% 46% / 61% 48% 52% 39% ;
	margin-right: 80px;
}

.about-text {
	flex: 1;
}

.about-text h3 {
	margin: 10px 0;
	color: var(--color-fg-secondary);
	font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after,
.about-text h3 span:nth-child(3):after {
	content: "";
	width: 6px;
	height: 6px;
	background-color: var(--color-fg-secondary);
	display: inline-block;
	border-radius: 50%;
	margin: 0 14px;
}

.buttons {
	margin-top: -40px;
	justify-content: center;
	text-align: center;
}

.buttons a:nth-child(1):hover,
.buttons a {
	display: inline-block;
	margin: 15px 30px;
	color: var(--primary);
	font-size: 15px;
	font-family: "Balsamiq Sans", cursive;
	font-weight: 500;
	width: 180px;
	border: 1px solid var(--primary);
	padding: 14px 0;
	border-radius: 6px;
	transition: 0.2s linear;
	background: transparent;
}

#resume .buttons a:hover,
#resume .buttons a:nth-child(1) {
	background-color: var(--primary);
	color: #ffffff;
}

.about-text p {
	font-size: 17px;
	text-align: justify;
	line-height: 26px;
	margin-top: 20px;
}

.skills {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#resume .skills {
	margin-top: 30px;
	justify-content: center;
	text-align: center;
}

.skills p {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	color: #fefefe;
	font-size: 15px;
	text-align: center;
	font-family: "Balsamiq Sans", cursive;
	font-weight: 500;
	border: 1px solid #1e91d6;
	padding: 8px;
	border-radius: 4px;
	transition: 0.2s linear;
	background: #1e91d6;
}

section.dark {
	background-color: #353b48;
}

section.dark .section-sub-title .section-title {
	color: var(--section-bg);
}

section.dark .section-sub-title .section-title::before {
	background-color: var(--section-bg);
}

section.dark .section-sub-title .section-title::after {
	border: 4px solid #353b48;
}

.inner-width .timeline {
	position: relative;
	overflow: hidden;
}

.timeline::before {
	content: "";
	margin-top: 20px;
	top: -70px;
	background: var(--color-fg-secondary);
	width: 2px;
	height: 96%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.ed-h3 {
	margin-top: 20px;
	cursor: pointer;
}

.ed-p {
	margin-top: 10px;
	font-size: 15px;
	color: var(--color-fg);
}

.ed-h5 {
	margin-top: 10px;
	color: var(--color-fg-secondary);
	margin-bottom: 20px;
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
	float: right;
	padding: 10px 30px 10px 30px;
	border-right: 3px solid var(--primary);
	border-left: transparent;
}

.timeline-item:nth-child(even) .timeline-content::after {
	content: "";
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	left: -15px;
	border-width: 10px 15px 10px 0;
	border-color: transparent var(--card-bg-color) transparent transparent;
	transition: background-color var(--trans-dur), color var(--trans-dur), border-color var(--trans-dur);
}

.timeline-item::after {
	content: "";
	display: block;
	clear: both;
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: var(--card-bg-color);
	box-shadow: 0 20px 25px -15px var(--box-shadow);
	border-left: 3px solid var(--primary);
	transition: background-color var(--trans-dur);
}

.timeline-content::after {
	content: "";
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	right: -15px;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent var(--card-bg-color);
	transition: background-color var(--trans-dur), color var(--trans-dur),  border-color var(--trans-dur);
}

.timeline-content h3 {
	color: #3399ff;
}

.timeline-img {
	width: 20px;
	height: 20px;
	background: #3399ff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 30px;
	margin-left: -10px;
}

.timeline-img-header {
	width: auto;
	position: relative;
	margin-bottom: 20px;
}

.timeline-img-header img {
	width: 100%;
	height: auto;
}

.timeline-img-header h2 {
	color: var(--color-fg);
	position: absolute;
	bottom: 5px;
	left: 20px;
}

.date {
	display: inline-block;
	border-radius: 10px;
	color: #ff6666;
	position: absolute;
	right: 20px;
}

.contact-info {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.contact-info .item {
	width: 200px;
	margin-right: 0px;
	height: 160px;
	margin: 0 0 20px 0;
	background: #0082c8;
	color: var(--navbar-fg);
	text-align: center;
	border-radius: 38% 62% 65% 35% / 51% 59% 41% 49%;
	cursor: pointer;
	transition: background-color var(--trans-dur);
}

.contact-info i {
	display: block;
	font-size: 40px;
	line-height: 120px;
	height: 100px;
}

footer {
	background: url("../media/footer.svg") center;
	color: var(--color-fg);
	background-color: var(--section-bg);
	padding: 40px 0;
	text-align: center;
	transition: background-color var(--trans-dur), color var(--trans-dur);
}

.copyright {
	margin-bottom: 20px;
	font-size: 15px;
}

.copyright a {
	font-size: 20px;
	color: var(--primary);
	font-family: "Niconne", cursive;
	font-weight: 500;
}

.copyright a:hover {
	color: #56b8f5;
	font-weight: 550;
	text-decoration: none;
}

.goTop {
	position: fixed;
	z-index: 2;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color: var(--primary);
	border: none;
	border-radius: 100%;
	cursor: pointer;
	color: #ffffff;
	outline: none;
	display: none;
}

.toast {
	font-family: "Port Lligat Sans", sans-serif !important;
}

.cc-time {
	padding: 0.25rem 1.25rem 0.25rem;
	background-color: var(--tooltip-bg);
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-fg);
	border-radius: 10px;
	position: absolute;
	right: 20px;
	transition: background-color var(--trans-dur), color var(--trans-dur);
}

.cc-spans {
	margin: 15px 0 10px 0;
}

.cc-platform {
	padding: 0.25rem 0.5rem 0.25rem;
	background-color: var(--tooltip-bg);
	display: inline-flex;
	font-size: 0.75rem;
	border-radius: 0.2em;
	margin: 0px 10px 10px 0;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-fg);
}

.cc-btns {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.cc-btn {
	padding: 0.5em;
	background-color: var(--tooltip-bg);
	display: inline-flex;
	font-size: 0.75rem;
	border-radius: 100%;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-fg);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cc-btn:last-child {
	margin-left: 20px;
}

.cc-btn:hover {
	color: var(--primary);
}

.cc-title {
	margin-top: 1.4em;
	font-size: 1.25rem;
	color: var(--primary)ee;
}

.autoplay {
	position: absolute;
	color: var(--color-fg);
	font: 100px/100% arial, sans-serif;
	right: 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 var(--color-fg);
	top: 15px;
	width: auto;
	height: auto;
	z-index: 2;
	opacity: 0.4;
	transition: opacity 0.1s ease-in, transform 0.1s ease-out;
	animation: fade_close 3s ease-out;
}

@media screen and (max-width: 980px) {
	.menu-toggler {
		display: block;
	}
	.navbar-menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		background-color: #353b48;
		top: 0;
		right: -100%;
		display: none;
		max-width: 400px;
		padding: 80px 50px;
		transition: 0.3s linear;
	}
	.hidden {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.navbar-menu a {
		display: block;
		font-size: 30px;
		font-family: "Dosis";
		margin: 30px 0;
		color: #efefef;
	}

	.navbar-menu p {
		margin: 0;
		font-size: 30px;
	}

	.toggle-theme-label {
		width: 90px !important;
		height: 42px !important;
	}

	.toggle-theme-label .ball {
		width: 38px !important; 
		height: 38px !important;
	}

	.toggle-theme:checked + .toggle-theme-label .ball {
		transform: translateX(47px) !important;
		transition: all ease-in 0.5s;
	}

	/* .sticky .navbar-menu {
		background-color: var(--section-bg);
	} */
	.sticky .navbar-menu a:hover {
		color: #5ad6ad;
	}
	.navbar-menu.active {
		right: 0;
	}
	.menu-toggler.active span:nth-child(1) {
		transform: rotate(-45deg);
		top: 4px;
	}
	.menu-toggler.active span:nth-child(2) {
		opacity: 0;
	}
	.menu-toggler.active span:nth-child(3) {
		transform: rotate(45deg);
		bottom: 14px;
	}
	.inner-width {
		max-width: 800px;
		padding: 0 10px;
	}
	.about-pic {
		margin: 0 auto 60px;
	}
	.about-text {
		flex: 100%;
		text-align: center;
	}
	.blogcard {
		width: calc(50% - 20px);
	}
	.block {
		width: calc(100% - 20px);
		margin-left: auto;
	}
	.work {
		width: calc(50% - 10px);
	}
	/* .contact-info .item {
		width: 200px;
		margin: 10px 45px;
	} */
}

@media screen and (max-width: 600px) {
	.inner-width {
		padding: 0 20px;
	}
	.skill {
		width: 100%;
	}
	.blogcard {
		width: 100%;
	}
	.work {
		width: 100%;
	}
	.nameZone,
	.emailZone {
		max-width: 100%;
	}
}

marquee > a {
	color: var(--card-bg-color);
	font-size: 16px;
	font-weight: 500;
	font-family: "Balsamiq Sans", cursive;
}

marquee > a:hover,
marquee > a.focus {
	color: #3399ff;
}

.item a {
	color: var(--color-fg);
}

@media screen and (max-width: 768px) {
	.timeline::before {
		left: 50px;
	}
	.timeline .timeline-img {
		left: 50px;
	}
	.timeline .timeline-content {
		max-width: 100%;
		width: auto;
		margin-left: 70px;
		border-right: 3px solid var(--primary);
		border-left: transparent;
	}
	.timeline .timeline-item:nth-child(even) .timeline-content {
		float: none;
	}
	.timeline .timeline-item:nth-child(odd) .timeline-content::after {
		content: "";
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		left: -15px;
		border-width: 10px 15px 10px 0;
		border-color: transparent var(--card-bg-color) transparent transparent;
		transition: background-color var(--trans-dur), color var(--trans-dur);
	}
}


.apk-download-btn {
	padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: #3399ff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.progress-container {
    width: 100%;
    background-color: transparent;
    height: 5px;
    display: block;
}

.progress-bar {
    background-color: #079ef0;
    width: 0;
    display: block;
    height: 5px;
    border-radius: 0 5px 5px 0;
}

.toggle {
    background-color: #607d8b;
    color: #607d8b;
    visibility: hidden;
}

.toggle_label {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

.slider {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border: 5px solid white;
    content: "";
    height: 36px;
    width: 36px;
    right: 10px;
    left: 7px;
    top: 7px;
    position: absolute;
    transition: .4s;
    border-radius: 50%;
}

.toggle-theme {
  opacity: 0;
  position: absolute;
}

.toggle-theme-label {
  background-color: var(--card-bg-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.toggle-theme-label .ball {
  background-color: var(--color-fg-secondary);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.toggle-theme:checked + .toggle-theme-label .ball {
  transform: translateX(24px);
}
